body{
    display: flex;
    flex-direction: column;
}

#privateRoom{
    padding:10px 0;
}

#readySwitch{
    background: #E7E6E0;
    padding:10px 15px;
    font-family: "Raleway";
    border-top: 1px solid rgba(0,0,0,.15);
    
    border-bottom: 1px solid rgba(0,0,0,.15);
}

#playersLabel{
    border-bottom: 1px solid rgba(0,0,0,.35);
    font-family: "Raleway";
    font-weight: bold;
    padding: 5px 0;
}

#players{
    padding: 10px 0;
}

#featuredGame{
    flex-grow: 1;
    overflow: hidden;
    border: none;
}

.player-container{
    flex-grow: 1;
    padding:10px 15px;
    font-family: "Raleway";
}

.body-container{
    display: flex;
    align-items: stretch;
    flex-grow:1;
}

.left-content{
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    background: #E7E6E0;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.main-content{
    flex-grow: 1;
    text-align: center;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

