html *{
	font-family: 'Open Sans', sans-serif !important;
}

body {
	margin:0;
	color: rgba(15,15,15,0.65);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: gray;
}
 
 a{
	 color:black;
	 text-decoration:none;
 } 
 
#nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

#nav li a:hover {
	background-color: #cccccc;
	text-decoration: none;
	color: rgba(15,15,15,0.65);
}

a:visited{
	text-decoration: none;
	color: black;
}

#creditLink {
	color: blue;
}
#creditLink:visited {
	color: blue;
}

div h3{
	margin-top: 0px;
	margin-bottom: 10px;
}

.square{
	display:inline-block;
	background: rgba(15,15,15,0.25);
	min-height:40px;
	min-width:40px;
	margin:0px 5px;
}

.blueSqr{
	background:#6E97D2;
}

.redSqr{
	background:#D32F0C;
}

.bigSqr{
	width: 150px;
	height: 132px;
	margin: 14px 19px;
	display:inline-block;
	padding: 5px 0px;
}

.centeredGrid{
	text-align:center;
}

#page1{
	padding: 18px 20px;
	background-color:#cccccc;
}

#page2{
	padding: 18px 20px;
	background-color:#dddddd;
	height: 710px;
}
#page2Grid{
	text-align:center;
	position:relative;
	height:575px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#page2InnerGrid{
	display:block;
	vertical-align:middle;
}

#page3{
	padding: 18px 20px;
	background-color:#cccccc;
}
#page4{
	padding: 18px 20px;
	background-color:#dddddd;
	height:700px;
}

#page5{
	padding: 18px 20px;
	background-color:#cccccc;
	height:710px;
}
#page6{
	padding: 18px 20px;
	background-color:#dddddd;
}
