html *{
	font-family: 'Open Sans', sans-serif !important;
}

body {
	margin:0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #333;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
	text-decoration: none;
}

div h3{
	margin-top: 0px;
	margin-bottom: 10px;
}

.square{
	display:inline-block;
	background:#dfdfdf;
	min-height:40px;
	min-width:40px;
	margin:0px 5px;
}

.blueSqr{
	background:#6E97D2;
}

.redSqr{
	background:#D32F0C;
}

#page1{
	padding: 18px 20px;
	background-color:#aaaaaa;
}
#page1Grid{
	text-align:center;
}

#page2{
	padding: 18px 20px;
	background-color:#bbbbbb;
}
#page2Grid{
	text-align:center;
	position:relative;
	height:575px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#page2InnerGrid{
	display:block;
	vertical-align:middle;
}

#page3{
	padding: 18px 20px;
	background-color:#cccccc;
}
#page4{
	padding: 18px 20px;
	background-color:#dddddd;
}
#page5{
	padding: 18px 20px;
	background-color:#eeeeee;
}
#page6{
	padding: 18px 20px;
	background-color:#ffffff;
}