html *{
	font-family: 'Open Sans', sans-serif !important;
}

a:link, a:visited{
	display: inline-block;
	text-decoration: none;
	color:#0000FF;
}

a:hover, a:active{
	display: inline-block;
	text-decoration: underline;
	color:#0000FF;
}

.formSection.blue{
	margin: auto;
	width: 25%;
	border: 3px solid #5c5c8a;
	border-radius: 25px;
	padding: 10px 10px;
}

.formSection.green{
	margin: auto;
	width: 25%;
	border: 3px solid #41B56C;
	border-radius: 25px;
	padding: 10px 10px;
}

.formSection.orange{
	margin: auto;
	width: 25%;
	border: 3px solid #DE9A57;
	border-radius: 25px;
	padding: 10px 10px;
}

.formSection.red{
	margin: auto;
	width: 25%;
	border: 3px solid #E8517C;
	border-radius: 25px;
	padding: 10px 10px;
}

.formSectionTitle{
	font-size: 35px;
	margin: auto;
	margin-top: 15px;
	width: 25%;
	padding: 25px 25px;
}

input{
	margin-top: 10px
}

input[type=text].blue, input[type=password].blue {
	margin: 6px 0;
	padding: 11px 11px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #a3a3c2;
	border-radius: 5px;
	background-color: #F5F5F5;
	outline: none;
}

input[type=text].green, input[type=password].green {
	margin: 6px 0;
	padding: 11px 11px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #7FB593;
	border-radius: 5px;
	background-color: #F5F5F5;
	outline: none;
}

input[type=text].orange, input[type=password].orange {
	margin: 6px 0;
	padding: 11px 11px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #DEBD9B;
	border-radius: 5px;
	background-color: #F5F5F5;
	outline: none;
}

input[type=text].red, input[type=password].red {
	margin: 6px 0;
	padding: 11px 11px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #E8A2B6;
	border-radius: 5px;
	background-color: #F5F5F5;
	outline: none;
}

input[type=text]:focus.blue, input[type=password]:focus.blue {
	border: 2px solid #5c5c8a;
}

input[type=text]:focus.green, input[type=password]:focus.green {
	border: 2px solid #41B56C;
}

input[type=text]:focus.orange, input[type=password]:focus.orange {
	border: 2px solid #DE9A57;
}

input[type=text]:focus.red, input[type=password]:focus.red {
	border: 2px solid #E8517C;
}

input[type=submit].blue{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100%;
	outline: none;
	color: black;
	text-decoration: none;
	background-color: #a3a3c2;
	cursor: pointer;
	border: 2px solid #5c5c8a;
	border-radius: 5px;
	font-size: 18px;
}

input[type=submit].green{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100%;
	outline: none;
	color: black;
	text-decoration: none;
	background-color: #7FB593;
	cursor: pointer;
	border: 2px solid #41B56C;
	border-radius: 5px;
	font-size: 18px;
}

input[type=submit].orange{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100%;
	outline: none;
	color: black;
	text-decoration: none;
	background-color: #DEBD9B;
	cursor: pointer;
	border: 2px solid #DE9A57;
	border-radius: 5px;
	font-size: 18px;
}

input[type=submit].red{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100%;
	outline: none;
	color: black;
	text-decoration: none;
	background-color: #E8A2B6;
	cursor: pointer;
	border: 2px solid #E8517C;
	border-radius: 5px;
	font-size: 18px;
}

input[type=submit]:hover.blue{
	color: white;
	background-color: #5c5c8a;
}

input[type=submit]:hover.green{
	color: white;
	background-color: #41B56C;
}

input[type=submit]:hover.orange{
	color: white;
	background-color: #DE9A57;
}

input[type=submit]:hover.red{
	color: white;
	background-color: #E8517C;
}

.formSection input.shortInput{
	width: 90%;
}

.warningText {
	margin: auto;
	margin-bottom: 15px;
	font-size: 18px;
	color: red;
}

.alertText {
	margin: auto;
	margin-bottom: 15px;
	font-size: 18px;
	color: green;
}

/*To be used on small images in forms*/
.smallImg {
	position: relative;
	padding-left: 5px;
	top: 5px;
}

/*Index styling*/
#indexTitle {
	margin: auto;
	margin-top: 50px;
	font-size: 35px;
	text-align: center;
}

#indexMenu {
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 35%;
}

#indexMenu a{
	margin-top: 10px;
	padding: 10px 10px;
	width: 100%;
	color: black;
	text-decoration: none;
	background-color: #a3a3c2;
	cursor: pointer;
	border: 2px solid #5c5c8a;
	border-radius: 5px;
	font-size: 20px;
}

#indexMenu a:hover{
	color: white;
	background-color: #5c5c8a;
}

#indexAlert{
	margin: auto;
	margin-top: 35px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: red;
}

/*Account page styling*/
#accountTitle {
	margin: auto;
	margin-top: 10px;
	font-size: 35px;
	text-align: center;
}

#accountMenu {
	margin: auto;
	margin-top: 45px;
	text-align: center;
	width: 50%;
}

#accountMenu table {
	margin: auto;
	width: 60%;
	margin-bottom: 25px;
}

#accountMenu table td.input {
	text-align: right;
}

#accountMenu table td.label {
	text-align: left;
}

.accountMenuAlert{
	margin: auto;
	margin-top: 35px;
	text-align: center;
	width: 35%;
}

#accountMenu.blue a{
	margin-top: 10px;
	padding: 10px 10px;
	width: 60%;
	color: black;
	text-decoration: none;
	background-color: #a3a3c2;
	cursor: pointer;
	border: 2px solid #5c5c8a;
	border-radius: 5px;
	font-size: 20px;
}

#accountMenu.blue a:hover{
	color: white;
	background-color: #5c5c8a;
}

#accountMenu.green a{
	margin-top: 10px;
	padding: 10px 10px;
	width: 60%;
	color: black;
	text-decoration: none;
	background-color: #7FB593;
	cursor: pointer;
	border: 2px solid #41B56C;
	border-radius: 5px;
	font-size: 20px;
}

#accountMenu.green a:hover{
	color: white;
	background-color: #41B56C;
}

#accountMenu.orange a{
	margin-top: 10px;
	padding: 10px 10px;
	width: 60%;
	color: black;
	text-decoration: none;
	background-color: #DEBD9B;
	cursor: pointer;
	border: 2px solid #DE9A57;
	border-radius: 5px;
	font-size: 20px;
}

#accountMenu.orange a:hover{
	color: white;
	background-color: #DE9A57;
}

#accountMenu.red a{
	margin-top: 10px;
	padding: 10px 10px;
	width: 60%;
	color: black;
	text-decoration: none;
	background-color: #E8A2B6;
	cursor: pointer;
	border: 2px solid #E8517C;
	border-radius: 5px;
	font-size: 20px;
}

#accountMenu.red a:hover{
	color: white;
	background-color: #E8517C;
}