html *{
	font-family: 'Open Sans', sans-serif !important;
}

a:link, a:visited{
	display: inline-block;
	text-decoration: none;
	color:#0000FF;
}

a:hover, a:active{
	display: inline-block;
	text-decoration: underline;
	color:#0000FF;
}

a.menu{
	text-decoration: none;
	color:#5c5c8a;
}