@font-face {
    font-family: "Pacifico";
    src: url("../font/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.ttf");
}

.red-txt{
    color:#e24e42 !important;
}

.red-bgd{
    background: #e24e42 !important;
}

.green-txt{
    color:#4caf50;
}

h3, h1{
    font-family: "Pacifico" , cursive;
    color: #e24e42;
}
#indexTitle{
    font-size:50px;
}

a{
    text-decoration: none;
}

body{
    background: #f1f0eb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url(../images/xoPattern.png);
    margin: 0;
}

.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
    bottom: 0;
    flex-grow: 1;
}

#indexMenu a{
    color: white;
    font-family: "Pacifico";
}

#indexMenu a:hover{
    color: white;
    box-shadow: inset 0 0 18px #000000;
}

.index-button{
    border: 4px solid #f13c20;
    color:white;
    background:#f13c20;
}

.header{
    margin:0;
    background-color: #4056a1;
    padding: 15px 10px;
    color:white;
    font-size: 115%;
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
}

.dropbtn{
    font-family: "Pacifico";
    color:white;
}

.dropbtn:hover{
    color:white;
    text-decoration: none;
    cursor: pointer;
}