@font-face {
    font-family: "Pacifico";
    src: url("../font/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.ttf");
}

.red-txt{
    color:#e24e42 !important;
}

.red-bgd{
    background: #e24e42 !important;
}

.green-txt{
    color:#4caf50;
}

h3, h1{
    font-family: "Pacifico" , cursive;
    color: #e24e42;
}

.title:visited{
    color:white;
}

#indexTitle{
    font-size:50px;
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

body{
    background: #f1f0eb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url(../images/xoPattern.png);
    margin: 0;
}

.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:0;
    bottom: 0;
    flex-grow: 1;
}

.filler{
    flex-grow: 1;
}

#indexMenu a{
    color: white;
    font-family: "Pacifico";
}

#indexMenu a:hover{
    color: white;
    box-shadow: inset 0 0 18px #000000;
}

.index-button{
    border: 4px solid #f13c20;
    color:white;
    background:#f13c20;
}

.header{
    display:flex;
    justify-content:space-around;
    margin:0;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #4056a1;
    z-index: 20;
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    padding: 15px;
    color:white;
    font-size: 115%;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 56px;
    background: #f1f0eb;
    font-family: "Raleway";
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    white-space: nowrap;
}

.dropbtn{
    margin:0 0 0 20px;
}

.dropdownLink{
    padding: 10px;
}

.dropdownLink:hover{
    background: #d4d2c6;
    color:white;
}

.left{
    left:0;;
}

.right{
    right:0;
}

.dropbtn{
    font-family: "Pacifico";
    color:white;
}

.dropbtn:hover{
    color:white;
    text-decoration: none;
    cursor: pointer;
}